@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --layout-width-mobile: 375px;
  --layout-width-desktop: 1440px;

  --color-blue-900: hsl(209, 23%, 22%);   /* Dark Mode Elements */
  --color-blue-950: hsl(207, 26%, 17%);   /* Dark Mode Background */
  --color-grey-950: hsl(200, 15%, 8%);    /* Light Mode Text */
  --color-grey-400: hsl(0, 0%, 50%);      /* Light Mode Input */
  --color-grey-50: hsl(0, 0%, 99%);       /* Light Mode Background */
  --color-white: hsl(0, 100%, 100%);      /* Dark Mode Text & Light Mode Elements */

  --font-size-homepage-items: 14px;
  --font-size-detail-page: 16px;

  --font-family-base: "Nunito Sans", system-ui, -apple-system, "Segoe UI", Roboto,
    Arial, "Noto Sans", "Liberation Sans", sans-serif;
  --font-weight-light: 300;
  --font-weight-semibold: 600;
  --font-weight-extrabold: 800;
}

section.cardWrapper{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;

  max-width: 1000px;
  margin: auto;
  img{
    width: 100%;
    aspect-ratio: 113 / 75;
    object-fit: cover;
  }
}

body{
  transition: background 0.5s;
}

body.light{
  background: var(--color-grey-50);
  color: var(--color-grey-950);
}

body.dark{
  background: var(--color-blue-950);
  color: var(--color-white)
}